* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* general */

.nav-top .container-top, .section-top {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    white-space: nowrap;
}



/* header */

/* nav-bar-top */

.nav-top {
    height: 75px;
    background-color: #0084FD;
}

.nav-top .container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-top .hamburger {
    font-size: 1.5rem;
    color: white;
}

.nav-top ul {
    display: none;
}

.nav-top .nav-link:hover {
    background-color: #319bff;
}

@media screen and (min-width: 811px) {
    
    .nav-top ul {
    display: flex;
    list-style: none;
    height: 100%;
    }

    .nav-top li {
    display: flex;
    align-items: center;
    height: 100%;
    }

    .nav-top .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0 1rem;
    height: 100%;
    }

    .nav-top .btn {
    text-decoration: none;
    background-color: white;
    padding: .5rem;
    color: black;
    border-radius: 30px;
    }

    .nav-top .hamburger {
        display: none;
    }
}


/* main */

/* section-top */

.section-top .container-top {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    background-color: #B5DDFF;
    padding: 1rem;
    border-radius: 2rem;
    flex-direction: column;
}

.section-top .container-top h2, .card .icon-card {
    color: #0084FD;
}

.card .icon-card {
    font-size: 4rem;
}

.s-card {
    text-align: center;
}

.card .btn {
    color: white;
    text-decoration: none;
    padding: .5rem;
    border-radius: 30px;
    width: 60%;
    white-space: nowrap;
    text-align: center;
    background-color: #0084FD;
}

.card .img-phone {
    margin-bottom: -1.3rem;
    flex: 1 0 50%;
}

.card h2, .card p, .card .store {
    margin-top: 30px;
}

.card img {
    max-width: 100%;
    height: 100%;
}

@media screen and (min-width: 811px) {

    .card {
        /* flex: 1 0 calc(100% / 3 - 2rem * 2); */
        /* margin-right: 30px;
        margin-bottom: 30px; */
        gap: 1rem;
        line-height: 1.5rem;
        flex-direction: row;
        flex-basis: calc((100% - 2rem) / 3);
        margin-bottom: 1rem;
    }

    .big-card {
        display: flex;
        flex-basis: calc(100% - calc((100% - 2rem) / 3) - 1rem);
        padding-bottom: -1rem;
        flex-direction: row;
    } 

    .card img { 
        max-width: 100%;
    }
    /* vedere */

    .card .img-phone {
        margin-bottom: -1rem;
    }
}

@media screen and (min-width: 670px) and (max-width: 810px) {
    
    .app-store {
        width: 50%;
    }

    .card {
        flex: 1 0 calc(100% / 3 - 1rem * 2);
        /* margin-right: 30px;
        margin-bottom: 30px; */
        line-height: 1.5rem;
        flex-direction: column;
    }

    .big-card {
        display: flex;
        flex: 9 0 calc(100% / 2 - 1rem);
        padding-bottom: -1rem;
        flex-direction: row;
    } 

    .card img {
        /* margin-top: 30px; */
        max-width: 100%;
    }

    .s-card {
    text-align: center;
    }

    .card .img-phone {
        margin-bottom: -1rem;
    }

    /* .card img {
        width: 50%;
    } */
}

